@model Mmc.Blog.ViewModel.UserLoginViewModel;
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="~/Assets/Account/Login/mechilogo.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Mechi Multiple Campus</h4>
                </div>
                <form asp-action="Login" asp-controller="Account" method="post">
                  <p>Please login to your account</p>
                  <div class="form-outline mb-4">
                    @Html.LabelFor(m=>m.Username,new{@class="form-label"});
                    @Html.TextBoxFor(m=>m.Username,new {@class="form-control"})
                    @Html.ValidationMessageFor(m=>m.Username)
                  </div>
                  <div class="form-outline mb-4">
                    @Html.LabelFor(m=>m.Password,new{@class="form-label"});
                    @Html.TextBoxFor(m=>m.Password,new {@class="form-control"})
                    @Html.ValidationMessageFor(m=>m.Password)
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary btn-block  mb-3" type="submit">Log
                      in</button>
                  </div>
                  <a class="text-muted" href="#!">Please contact your admin if you've lost your password</a>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" style="">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Mechi Multiple Campus</h4>
                <p class="small mb-0">Bhadrapur, Jhapa.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>