@{
    Layout = "_Mmc_Layout";
}
@using Mmc.User.Repository
@inject ICampusRepository _campusRepository;
@model Mmc.User.ViewModel.UserCreateViewModel
@{
    var colleges = (await _campusRepository.GetAllAsync()).Select(x=>new{x.Guid,x.Name});
}
<link rel="stylesheet" href="~/css/dotnet_validation.css">
<script src="~/lib/jquery/dist/jquery.steps.min.js"></script>
@using (Html.BeginForm("Register", "Account",FormMethod.Post,new{id="register_form"}))
{
<div id="wizard">
    <h3>Personal information</h3>
    <fieldset>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(a => a.FirstName)
                @Html.TextBoxFor(a => a.FirstName, new {@class = "form-control"})
                @Html.ValidationMessageFor(a=>a.FirstName)
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(a => a.LastName)
                @Html.TextBoxFor(a => a.LastName, new {@class = "form-control"})
                @Html.ValidationMessageFor(a=>a.LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.CollegeGuid)
            @Html.DropDownListFor(a => a.CollegeGuid,new SelectList(colleges,"Guid","Name"), new {@class = "form-control"})
            @Html.ValidationMessageFor(a=>a.CollegeGuid)
        </div>
        <div class="form-group">
            @Html.LabelFor(a => a.Email)
            @Html.TextBoxFor(a => a.Email, new {@class = "form-control"})
                @Html.ValidationMessageFor(a=>a.Email)
        </div>
    </fieldset>

    <h3>Login information</h3>
    <fieldset>
    <div>
        @Html.LabelFor(a=>a.Username)
        @Html.TextBoxFor(a=>a.Username,new{@class="form-control"})
        @Html.ValidationMessageFor(a=>a.Username)
    </div>
    <div>
        @Html.LabelFor(a=>a.Password)
        @Html.PasswordFor(a=>a.Password,new{@class="form-control"})
                @Html.ValidationMessageFor(a=>a.Password)
    </div>
    <div>
        @Html.LabelFor(a=>a.Confirm)
        @Html.PasswordFor(a=>a.Confirm,new{@class="form-control"})
        @Html.ValidationMessageFor(a=>a.Confirm)
    </div>
        
    </fieldset>
</div>
}
<script >
// Initialize wizard
var wizard = $("#wizard").steps({
    bodyTag: "fieldset",
    headerTag: "h3",
    onFinished(event, currentIndex){
        $("#register_form").submit();
    }
})
    
</script>