
@model Mechi.Backend.ViewModel.Core.NavbarViewModel;
<li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Blog", "Index", "Blog", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Notices", "Index", "Notice", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Logout", "Logout", "Account", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Setup","Index", "Setup", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Notifications","Index","Notification",null,new {@class="nav-link"})</li>

