<li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Blog", "Index", "Blog", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Notices", "Index", "Notice", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Login", "Login", "Account", null, new {@class = "nav-link"})</li>
<li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new {@class = "nav-link"})</li>