@model Mechi.Backend.ViewModel.Blog.CategoryViewModel;

@using (Html.BeginForm("Create","CategoryApi",FormMethod.Post,new{id = "category-form"}))
{
    @Html.HiddenFor(a=>a.Guid)
    <section class="form-group">
        @Html.LabelFor(a=>a.Name)
        @Html.TextBoxFor(a=>a.Name,new{@class="form-control"})
    </section>
    <section class="form-group">
        @Html.LabelFor(a=>a.Description)
        @Html.TextBoxFor(a=>a.Description,new{@class="form-control"})
    </section>
    @Html.ValidationSummary()
    @if (Model.IsNew)
    {
        <button class="btn btn-primary">Insert</button>
    }
    else
    {
        <div class="btn-group"><button class="btn" type="submit">Update</button><button class="btn">Delete</button></div>
    }
}
<script >
$(document).ready(function() {
  $("#category-form").submit(function(e) {
      let form = $("#category-form");
    e.preventDefault();
    $.ajax('@Url.Action("Create","CategoryApi")', {
        type: 'POST',  // http method
        data: form.serialize(),  // data to submit
        success: function (data, status, xhr) {
            $('p').append('status: ' + status + ', data: ' + data);
        },
        error: function (jqXhr, textStatus, errorMessage) {
                $('p').append('Error' + errorMessage);
        }
    });
  });
});
</script>