@using System.Globalization
@model Mmc.Blog.ViewModel.BlogHomeViewModel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Blog_Layout";
}

<!-- Blog entries-->
    <!-- Featured blog post-->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">@Model.Pinned.DateTime.ToString(CultureInfo.InvariantCulture)</div>
            <h2 class="card-title">@Model.Pinned.Title</h2>
            <p class="card-text">@Html.Raw(Model.Pinned.Body)</p>
            <a class="btn btn-primary" href="@Url.Action("Read","BlogApi")/@Model.Pinned.Guid">Read more →</a>
        </div>
    </div>
    <!-- Nested row for non-featured blog posts-->
<div class="row">
    @foreach (var item in Model.Articles)
    {
        <div class="col-lg-6 card mb-4">
            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..."/></a>
            <div class="card-body">
                <div class="small text-muted">@item.DateTime</div>
                <h2 class="card-title h4">@item.Title</h2>
                <p class="card-text">@Html.Raw(item.Body)</p>
                <a class="btn btn-primary" href="@Url.Action("Read","BlogApi")/@item.Guid">Read more →</a>
            </div>
        </div>
    }
</div>
    <!-- Pagination-->
<nav aria-label="Pagination">
    <hr class="my-0" />
    <ul class="pagination justify-content-center my-4" id="pagination_list_container">
    </ul>
</nav>
<script>
    $(document).ready(function() {
        $.ajax({
          url: '@Url.Action("GetDynamicPartialView")/@Model.PageCount',
          method : "GET",
          success: function(view) {
            $("#pagination_list_container").append(view);
          }
        });
    });
</script>