@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Mechi.Backend.ViewModel.Blog
@model Mechi.Backend.ViewModel.Blog.ArticleReadViewModel;
<link rel="stylesheet" href="~/css/heart-button.css">
<article>
    <!-- Post header-->
    <div class="d-flex justify-content-between">
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">@Model.Title</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">@Model.Date by @Model.AuthorName</div>
            <!-- Post categories-->
            <a class="badge bg-secondary text-decoration-none link-light" href="#">@Model.Category</a>
        </header>
        <i class="article-heart fa-regular fa-heart fa-lg"></i>
    </div>
    <!-- Preview image figure-->
    <figure class="mb-4"><img class="img-fluid rounded" src="~/Assets/Home/Images/mechi5.jpg" alt="..." /></figure>
    <!-- Post content-->
    <section class="mb-5 fs-5">
        @Html.Raw(Model.Body)
    </section>
</article>
<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            @await Html.PartialAsync("PartialViews/Blog/CommmentForm",new CommentCreateViewModel {ArticleGuid=Model.Guid})
            <div class="comment-section-container" id="comment-section-container">
                
            </div>
        </div>
    </div>
</section>
<script src="~/js/blog-read-comments-fetch-initial.js"></script>
<script src="~/js/article-heart-button.js"></script>
<script>
    fetchComments('@Url.Action("GetComments","Blog")','@Model.Guid',1);
    setArticleHeartListener('@Model.Guid','@Url.Action("Heart","BlogApi")')
</script>
