@model Mechi.Backend.ViewModel.Blog.ArticleCreateViewModel
@{
    Layout = "_Blog_Layout";
}
<form asp-action="Create" asp-controller="Blog" id="form-post-article" enctype="multipart/form-data">
	<div class="form-group">
		@Html.TextBoxFor(m => m.Title, null, new {@class = "form-control mb-3", @placeholder = "Title"})
		@Html.ValidationMessageFor(m => m.Title)
	</div>
	<div class="form-group">
		<input type="file" name="Thumbnail" id="Thumbnail"/>
	</div>
	<div class="form-group">
		@Html.DropDownListFor(m => m.CategoryGuid, Array.Empty<SelectListItem>(), "Category", new {@class = "form-control"})
	</div>
	<div class="form-group">
		@Html.TextAreaFor(m => m.CkEditorBody, new {@placeholder = "Start Writing"})
        @Html.ValidationMessageFor(m => m.CkEditorBody)
	</div>
	<button type="submit" class="btn btn-outline-primary mt-3">Post</button>
</form>
<script src="~/ckeditor5/ckeditor.js"></script>
<script>
import {ClassicEditor} from "../../wwwroot/ckeditor5/ckeditor"; 
let wineditor;
ClassicEditor
    		.create( document.querySelector( '#CkEditorBody' ), {
    			// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
    			// removePlugins : 'image'
    		} )
    		.then( editor => {
    			window.editor = editor;
    		} )
    		.catch( err => {
    			console.error( err.stack );
    		} );

		$(document).ready(function() {
		  $.ajax({
			  type: "GET",
			  url: "@Url.Action("GetCategoryList","CategoryApi")",
			  data: "{}",
			  success: function(data) {
				  let s = "";
				  for (let i = 0; i < data.length; i++) {
					  console.log(data[i])
					  s += '<option value="' + data[i].guid + '">' + data[i].name + '</option>';
				  }
				  $("#CategoryGuid").html(s);
			  }
              });
          });
		
		$('#form-post-article').submit(function (e){
				e.preventDefault();
				const form = $("#form-post-article");
				const url = form.attr('action');
				
				$.ajax({
                        type: "POST",
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        success: function(data)
                        {
                          Swal.fire(
                            'Hooray!!!',
                            data,
                            'success'
                          )
                        },
                        error:function(data) {
                          Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: data,
                            footer: '<a href="">Why do I have this issue?</a>'
                          })
                        }
                    });
			});
		
</script>
